<?xml version="1.0"?>
<launch>
  <arg name="gripper_2f" default="false" />
  <arg name="camera" default="false" />
  <arg name="caja" default="false"/>
  <arg name="camera_arm" default="false" />
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find kr16_gazebo)/urdf/kr16_main.xacro' 
   camera:=$(arg camera)  gripper_2f:=$(arg gripper_2f) caja:=$(arg caja) camera_arm:=$(arg camera_arm)" />
</launch>